@import "../../styles/variables";


.button {
  font-size: 1.4rem;
  padding: 1.3rem 1rem;
  border-radius: 1rem;
  background-color: inherit;
  cursor: pointer;
  color: $primary-color;
  border-color: $primary-color;
  display: flex;
  align-items: center;
  transition: .4s ease-in-out filter;

  span {
    margin: 0 1.5rem;
    &+svg {
      margin-right: 1.1rem;
    }
  }

  svg + span {
    margin-left: 2rem;
  }

  svg {
    width: 36px;
    height: 36px;
  }

  &:disabled {
    filter: grayscale(50%);
    cursor: inherit;
  }
}

.primary {
  background-color: $primary-color;
  color: $white;
}
