@import "src/styles/variables";


.sectionContainer {
  h2 {
    text-align: center;
    font-size: 3.8rem;
    letter-spacing: -1px;
    margin: 0;
  }

  .reviewsContainer {
    margin-top: 5rem;
    margin-left: 9.2rem;
  }
}

.loading {
  text-align: center;
  font-size: 3rem;
}
