@import "src/styles/variables";

.sectionContainer {
  h2 {
    font-size: 4.3rem;
    line-height: 4.9rem;
    letter-spacing: -.4px;
    margin: 0 0 0 2.2rem;
  }

  .deliveryContainer {
    margin-top: 3.9rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
