@import "src/styles/variables";

.accordionContainer {
  width: 100%;
  border-bottom: 1px solid #ADADAD;
  margin-top: 3.4rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.2rem;

    h5 {
      margin: 0;
      font-size: 1.9rem;
      letter-spacing: .6px;
    }

    button {
      border: none;
      background-color: $primary-color;
      color: white;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  .content {
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    line-height: 2.6rem;
    color: #686868;
  }
}
