@import "../../styles/variables";


.tariffContainer {
  padding: 2.8rem 3.2rem 3.6rem;
  border: 2px solid $tariff-border;
  background-color: #FFFFFF;
  border-radius: 2rem;
  margin-left: 8.6rem;

  h4 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -.8px;
  }

  .selectTariff {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .conditionsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1.5rem;
  }

}
