@import "src/styles/variables";
$recipeGrey: #8E97A6;


.recipeItem {
  width: 32%;
  overflow: hidden;
  border-radius: 3.4rem;
  background-color: $cardBG;
  cursor: pointer;
  -webkit-box-shadow: 1px 46px 31px 4px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 1px 46px 31px 4px rgba(34, 60, 80, 0.14);
  box-shadow: 1px 46px 31px 4px rgba(34, 60, 80, 0.14);

  .type {
    font-size: 1.1rem;
    background-color: #F7EDD0;
    padding: .2rem .4rem;
    border-radius: .6rem;
    color: #DAA31A;

  }

  .title {
    font-size: 2.1rem;
    margin-top: .3rem;
    margin-bottom: .1rem;
    letter-spacing: .6px;
  }

  img {
    object-fit: contain;
    width: 100%;
  }

  .recipeImage {
    object-fit: cover;
    width: 100%;
    height: 236px;
  }

  .content {
    padding: .7rem 3rem 1rem;
  }

  .cardFooter {
    color: $recipeGrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;

    .time {
      letter-spacing: -1px;
      margin-right: 2rem;
    }

    .rating {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 34px;
      }
    }
  }
}
