@import "src/styles/variables";

.loading {
  font-size: 5rem;
  text-align: center;
  margin: 20rem 0;
}

.sectionContainer {

  .blogItemContainer {
    .title {
      margin: 10rem 0 0;
      font-size: 3rem;
    }

    .topInfo {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .avatar {
        object-fit: contain;
        border-radius: 50%;
        width: 80px;
      }

      .user {
        flex-grow: 1;
        padding: 1rem;

        .subtitle {
          color: #8D8D8D;
          font-size: 1.3rem;
          letter-spacing: .6px;
        }

        h5 {
          margin: 0;
          letter-spacing: .6px;
          font-size: 1.4rem;
        }
      }
    }

    .text {
      font-size: 2rem;
      line-height: 3.6rem;
      margin: 5rem 0 0 .8rem;
    }
  }

  .buttonBlock {
    margin-top: 7.6rem;
  }

  .commentsContainer {
    margin: 18.2rem 4.2rem 0 4.2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }



}
